.button {
    padding: 7px 30px;
    border: 1px solid var(--light-purple-color);
    border-radius: 30px;

    font-family: "Open Sans", sans-serif;
    font-size: var(--inputs-small-text-size);

    color: var(--dark-blue-color);

    cursor: pointer;

    margin-right: 10px;
    margin-bottom: 10px;
}

.button:hover {
    background-color: var(--light-grey-purple);
}

.checked {
    background-color: var(--medium-grey-purple-color);
    color: var(--grey-color);
}

.placeholder {
    width: 100%;

    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}
